@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* Menu início */

div nav {
    background-image: url('../Imagens/bgMenu.jpg');
    font-size: 25px;
    font-weight: 500;
    font-family: 'Pixelify Sans';
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 10px 5px rgba(0, 0, 0, 0.199);
}

#icon-menu {
    color: #007bff;
}

#navtext {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navtext a {
    color: white;
}

#navtext a:hover {
    transition: 0.3s;
    color: rgb(255, 86, 114);
}


/* Menu fim */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-quiz {
    text-align: center;
    font-family: "VT323", monospace;
    font-size: xx-large;
    font-style: normal;
    color: #e65100;
}

body {
    background-image: url('../Imagens/Lava.png');
}

.formulario {
    width: 700px;
    /* Largura da caixa */
    border: 7px solid #2C2C2C;
    padding: 15px;
    margin: 100px auto;
    background-color: #bcaaa4;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-left: 26px;
    font-size: 14px;
    padding: 25px;
    text-align: justify;
    max-height: 600px;
    overflow-y: auto;
}

ol li {
    background-color: #a1887f;
    border-radius: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #607d8b;
    color: black;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background-color: #263238;
}